<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
    (function () {
      var saved = localStorage.getItem("theme");
      if (saved) {
        document.documentElement.setAttribute("data-theme", saved);
      }
    })();
  </script>

  {% seo %}

  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
